{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}

{% endblock %}
{% block title %}
	C. Dictaminadora UAM-I
{% endblock %}
{% block body %}
	<header>
		{% block header %}
			<div class="well">
				<h1 class="text-center"> COMISIÓN DICTAMINADORA DIVISIONAL </h1> <br> <h2 class="text-center">Unidad Iztapalapa</h2>
			{% block saludo %}
			{% endblock %}
			</div>
		{% endblock %}
	</header>
		{% block menu %}
		{% endblock %}
		<div id="content" class="content">
			{% block content %}
			{% endblock %}
		</div>
	<footer>
		{% block footer %}
			
		{% endblock %}
	</footer>

{% endblock %}
{% block javascripts %}
	{{ parent() }}

{% endblock %}
