{% block header %}
    <table border="0" width="99%" >

        <tr>

            <td border="0" rowspan="2" valign="bottom"> <img src="{{ asset('/resource/img/encabezado.png') }}"  /></td>
            <td align="right" valign="bottom"><font size="0">FI-DIPPPA-03 / 01122015 PÁGINA 1/2 </font></td>
        </tr>
        <tr>
            <td valign="top" class="  text-right "> <strong>CONVOCATORIA A CONCURSO DE EVALUACIÓN CURRICULAR</strong></td>
        </tr>
    </table>
{% endblock %}

{% block content  %}

{% endblock %}